

body
{
	margin: 0;
	padding:0;
	
}

.neon
{
	position:absolute;
	top: 62%;
	left:70%;
	trransform:translate(-30%,-30%);
	margin:0;
	paddding:0 80px;
	font-size: 2em;
	color:white;
	text-shadow: 0 0 10px red;
}

a:link {color:white;}
a:hover{color:powderblue;}
a:visited{color:grey;}
a:active{color:perple;}
a:link{text-decoration:none;}

