<html>
<head>
<title>ABOUT</title>
</head>
<body background="{{ url_for('static',filename='9.jpg')}}">
<font color="powderblue" size="12">
<h1 align="center"><i>ABOUT US<i></h1>
</font>
<font color="white">
<h2>VISION</h2>
“To be the industry leader through differentiation & deliberation”<br><br>

<h2>MISSION STATEMENT</h2>
-“To be the complete service & solution provider for our clients. 
Understanding the needs & requirements of the market through continuous development synergy & teamwork.”<br><br>

<h2>MANAGEMENR TEAM</h2>
<ul> 	
	<li>Partner&Interior Designer
	<li>Partner
	<li>Creative Design & Graphics Executive
	<li>InteriorDesigner
	<li>PR Executive
	<li>Manager
</ul>


<h2>Executive Summary:</h2>

<p>Dhanak is the best event management company in Lahore. Since our inception, we have been providing services in event management for various sectors, weeding art & culture and very popular entertainment sector, which give us a status of a premier corporate event organizer. Dhanak success is based on its commitment to serving Clients by providing a board scope of creative services,</p>
<p>Dhanak strength lies in the ability to approach each event, activity or project with innovative ideas strong creative concept and professional management services Our expertise covers all the aspects of Events: Planning, Management & Coordination and Execution. Décor, design & furnishing for conferences, seminars, and senior employee based events, out of city trips etc. Complete solutions packages customized per event. Complete solutions for high definition display screens with multiple placement options, high quality sound systems & microphones. Digital projection devices etc, for conferences, exhibitions, seminars etc. We deliver cost effective events without compromising on the final output.</p>
<p>An event can be described as a public assembly for the purpose of celebration, education, marketing or reunion. Events can be classified on the basis of their size, type and context</pr>
<ul>
<li>Entertainment events
 	<ul>
	<li>Live Music concerts
 	<li>Fashion shows
	</ul>
<li>Corporate Events
	<ul>
	<li>Conferences
	<li>Corporate Celebrations
	</ul>
<li>Personal events
	<ul>
	<li>Weddings
	<li>Birthdays
	<li>Anniversaries
	</ul>
<li>Sports events
</ul>
</body>
</html>

