<html>
<head>
<title>APPRECIATION EVENTS</title>
</head>
<body>


<h1 align="center"> <i> APPRECIATION EVENTS </i>  </h1> <br><br><br>
<ul>

	<li><h2>PURPOSE :</h2>
<p>These programs allow an event host to spend informal time with its guests in a nontraditional environment, 
giving both parties an opportunity to build rapport and learn more about mutual business priorities. Appreciation events can range from programs geared towards employee <br></p><br>

	<li><h2>DESCRIPTION :</h2>
<p>These are limitless possibilities and types of appreciation events that organization hold throughout the year.<br></p>
<h3>Common programs include :- </h3>
<ul>
	<li>Dinner and theater <br>
	<li>Day at the racetrack <br>
	<li>Suites at sporting arenas <br>
	<li>Day and evening cruises <br>
	<li>Private parties at music festivals <br>
	<li>Holiday Parties <br>
	<li>Tickets to a popular event <br><br>
</ul>



</body>
</html>