<html>
<head>
<title>BOARD MEETINGS AND SHAREHOLDER MEETINGS </title>
</head>
<body bgcolor="">


<h1 align="center"> <i> BOARD MEETINGS AND SHAREHOLDER MEETINGS </i>  </h1> <br><br><br>
<ul>

	<li><h2>PURPOSE :</h2>
<p>Board meetings and shareholder meetings both serve important purpose. 
Board meetings serves as an opportunity for board mambers to meet to review business perfomance and meet with company executives 
to make important decisions. Shareholder meetings, on the other hand, provide companies  the opportunity to share recent perfomance, target , 
future goals, and busines strategies with its shareholder. Shareholder meetings also relay the opinion of the public.<br></p><br>

	<li><h2>DESCRIPTION :</h2>
Annual, biannual, or even quarterly meetings can be small internal meetings of board members or prestigious large-scale business 
events for shareholders that range in sixe depending on the size of the company and shareholder turnout. These can be anything from a room with six people, 
to a hall of thousands.<br><br>
<br><br></p>

<h1 align="center" ><img src="{{ url_for('static',filename='buss.jpg') }}" width="500" height="250"></h1>

</body>
</html>