<html>
<head>
<title>CONTACT</title>
</head>
<body bgcolor="black">

<font color="red">
<h2 align="center"> FOR &nbspANY&nbsp PROBLEM &nbspCONTACT</h2>
<br><br>
<h2>contact toll free -</2><br>

<h4>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-1800 5756 5265<br>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-1800 2656 2566<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-1800 2560 0032<br>
</h4>
<br>
<h3>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspmail id : eventbook@mail.com<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspweb side : http://www.eventbook.com
</h3>
</font><br><br>

<font color="powderblue">


<h2> RUSHIKESH S.LAVATE <br></h2>
<h3>
PRMCEAM , Amravati<br>
Mahatashtra ,444007<br>
Mobile No: +91| 5846152152<br>
Mail Id : rushikesh@mail.com<br>
</h3>
<br><br>

</body>
</html>