<html>
<head>
<title>EVENT</title>
</head>
<body bgcolor="black">

<font face="ALGERIAN" size="12" color="powderblue">
<h1 align="center"> <b><i>Entertainment &nbspEvents</i><b></h1>
<h2>
</FONT>
<font color="white">
<p>
Live concerts:we can provide all of the music for your wedding, 
from the ceremony, to the reception, right through to your evening entertainment. 
Or perhaps you are looking for music for a family reunion, a Birthday, Dinner or Anniversary Party, 
Corporate Event Entertainment or for any other Celebration or Event.</p>

<h3 align="center"><img src="ent.jpg"></h3>
<p>
We can entertain your guests in a style to suit your setting whether it is in an intimate space, 
such as a room in your house with perhaps a live jazz or ghazal or classical music.
</p>

<p>
Fashion show:Fashion event having produced over one hundred fashion shows in Lahore.
We are your perfect event partner for your next show. Whether it is a show for a collection, 
to promote an existing designer or a retail launch event we are here to help.
</p>

</body>
</html>