<html>

	<head>

		<title> RESET PASSWORD </title>

	</head>

	<body background="{{ url_for('static',filename='w.jpg') }} ">


<font color="white">		<h1 align="center" ><img src=" {{ url_for('static',filename='7.jpg') }} "><br><br><br><br></h1>
 		<form>

<h2 align="center">
			Mobile NO&nbsp
&nbsp

 &nbsp:
&nbsp

<input type="text" placeholder="registered" ><br><br>

			Mail ID 
&nbsp
&nbsp
&nbsp
:&nbsp
&nbsp&nbsp
<input type="text" placeholder="registered"><br> <br>

			OTP &nbsp&nbsp
&nbsp
&nbsp
:&nbsp
&nbsp
&nbsp
 &nbsp<input type="passeord"><br><br>
</h2>
<h1 align="center">
 
			<input type="submit" Value="RESET"> &nbsp &nbsp &nbsp &nbsp &nbsp

			<input type="reset" Value="CLEAR"> <br>

</h1>

(*After reseting password go to Sing in page and sign in*)


	</body>

</html>
