<html>
<head>
<title>FORMAL</title>
</head>
<body background="{{ url_for('static',filename='formal.jpg') }} "><br><br>
<font color="white">
<h1>SELECT &nbsp EVENT&nbsp:</h1><br>
<h2>
<ul>
	<li><a href="/sc" target="blank"> SEMINAR AND CONFERENCES</a><br><br>
	<li><a href="/bm&sm" target="blank"> BOARD MEETINGS AND SHAREHOLDER MEETINGS</a><br><br>
	<li><a href="/appre" target="blank"> APPRECIATION EVENTS </a><br><br>
	<li><a href="/pl" target="blank"> PRODUCT LAUNCH EVENTS</a><br><Br>
	
</ul>
</h2>
</body>
</html>