<html>
<head>
<title>GALLERY</title>
</head>
<body>
<h1 align="center">
<img src=" {{ url_for('static',filename='009.jpg') }} " width="350" hight="200">
<img src=" {{ url_for('static',filename='005.jpg') }} " width="350" hight="350">
<img src=" {{ url_for('static',filename='011.jpg') }} " width="350" hight="250">
<img src=" {{ url_for('static',filename='004.jpg') }} " width="350" hight="250">
<img src=" {{ url_for('static',filename='008.jpg') }} " width="350" hight="250">
<img src=" {{ url_for('static',filename='006.jpg') }} " width="350" hight="250">
<img src=" {{ url_for('static',filename='007.jpg') }} " width="350" hight="250">
<img src=" {{ url_for('static',filename='001.jpg') }} " width="350" hight="250">
<img src=" {{ url_for('static',filename='010.jpg') }} " width="350" hight="250">
<img src=" {{ url_for('static',filename='003.jpg') }} " width="350" hight="250">
<img src=" {{ url_for('static',filename='002.jpg') }} " width="350" hight="300">
<img src=" {{ url_for('static',filename='012.jpg') }} " width="350" hight="350">
<br>
</h1>
<h3 align="center">
<a href="video.html" target="_blank">CLICK&nbsp FOR&nbsp ANIMATION&nbsp AND &nbspVIDEOS </a> 
</h3>




</body>
</html>
