<html>
<head>

		<meta charset="utf-8">
		<title>BOtttom</title>
		<link href=" {{ url_for('static',filename='3.css') }} " rel="stylesheet">	</head>
	
<body background="{{ url_for('static',filename='ent.jpg') }} ">
<br><br>
<ul><li><h1><i>SELECT YOUR EVENT TYPE :</i></h1><br>
<h2>
<ul>
		<li><a href="/formal" target="blank">FORMAL EVENT</a><br><br>
		<li><a href="/informal" target="blank">INFORMAL EVENT</a><br><br>
		<li><a href='/venue' target="blank" encoding='utf16'>VENUE</a>
</ul>
</ul>

</h2>	


<form>

<br><br>
<font color="red">	<h3>*NOTE&nbsp :&nbsp THIS IS SELF PROJECT MADE FOR PRACTICE . </h3> </font>					
	

<h1 class="neon" data-text="[Neon_Light]" align="center">

COMMENT BOX :&nbsp<textarea cols"50" rows="5" type="name" size='50' placeholder="comment here ......."></textarea>
<br>
<input type="submit" name="SUBMIT" value="SUBMIT">&nbsp &nbsp &nbsp
<input type="reset" value="CLEAR ALL" ><br><br>


</body>
</html>