<html>
<head>
<title> INFORMAL</title>
</head>
<body background="{{ url_for('static',filename='82.jpg') }}">

<h1 align="center"> <i> INFORMAL&nbspEVENT</i>  </h1><br>


<h2> The Informal Events are as follows :-</h2><br>
<h3>
<ul>
	<li>Birthday Parties
	<li> Anniversary Celebration
	<li>Ring Ceremony
	<li>Get Together
	<li>Cultural Events
	<li>Festival Celebration
</ul>
</h3><br><br>


<h2>HOLIDAY PARTIES</h2>
Holidays Parties  Create a holiday mood
Creativity should be your one and only ally here.
Festive celebrations can’t take place without creative entertainment activities. 
Ensure your staff holiday party is fun and relaxing for everyone.<br><br><br>


<h2>INCENTIVE TRIPS</h2>
Entertain and reward staff or maintain a business’s good reputation

Sharp negotiation skills and the ability to organise events overseas will lead to success.


Often held at luxury resorts, incentive trips are the types of events that devour huge budgets while creating unforgettable memories for staff. 
To rise to the challenge of organising a successful incentive trip, 
an event professional should be able to find a reliable vendor in a foreign country in only a few days.<br><br><br>


<h2>CHARITY EVENT</h2>

Collect donations in support of a cause
Make good use of the company’s network.

Strong cause promotion, 
a worthy value offer, and a centralised platform for the collection of donations are the three integral elements of an efficient charity event.



<h2>The  list of the Parties are as follows :-</h2>
<ul>
	<li>Holiday Party
	<li>Sports Party
	<li>Fresher's Party
	<li>Sendoff 
	<li>Gathering
</ul>

</body>
</html>