<html>
<head>
<title>PRODUCT LAUNCH EVENTS </title>
</head>
<body>


<h1 align="center"> <i> PRODUCT&nbsp LAUNCH &nbspEVENTS </i>  </h1> <br><br><br>
<ul>

	<li><h2>PURPOSE :</h2>
<p>Product launch events can include internal meetings to inform all employees across the company about any upcoming
 products to full-blown launch parties that create a buzz surronding the product's release among customers and the media. 
Product launch events are most common for business-to-consumer companies.<br></p><br>

	<li><h2>DESCRIPTION :</h2>
<p>Launch events are meant to generate media coverage and industry buzz prior  to a product release. 
The event may includes a flashy introduction to the product along with an address from the company's 
most important  executives. Large product launches also tend to feel more like big parties,
 with well-known guests, dinner and entertainment , depending on the industry. <br><br></p>

<br>
<h1 align="center" ><img src="{{ url_for('static',filename='pl.jpg') }}" width="500" height="250"></h1>


</body>
</html>