<html>
<head>
<title>SEMINAR AND CONFERENCES</title>
</head>
<body background="">


<h1 align="center"> <i> SEMINAR AND CONFERENCES</i>  </h1> <br><br>
<ul>
	<li><h2>PURPOSE :</h2>
<p>Organization plan and holds the best meeting with targeted audiences and provide them with relevant information</p>

	<li><h2>DESCRIPTION :</h2>
<p>Seminars are usually shorter events , lasting a couple hours to afew workdays. 
They have single or multiple speakers and generally keep all participants together in same space.<br>
Conferences , on the other hand , typically have multiple sessions . 
They are usually held at hostels , beginning with a keynote sessions and then offering breakout sessions by topic.<br><br></p>
</ul><br><br>
<h1 align="center" ><img src="{{ url_for('static',filename='s&c.jpg') }}" width="500" height="250"></h1>
</body>
</html>