<html>

	<head>

			
		<title> SIGN IN</title>

			
	</head>

	<body background="{{ url_for('static',filename='3.jpg') }} ">

		<h1 align="center" ><img src=" {{ url_for('static',filename='sign.png') }} "></h1>
 		<form>


<br><br><br><br><br><br>
			<h2 align="center">
			USER ID &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbsp&nbsp&nbsp<input type="text" placeholder="abc12"><br>
			PASSWORD &nbsp: &nbsp&nbsp<input type="password" placeholder="PASSWORD"><br> <br></h2>
<h3 align="center">
			<input type="submit" Value="SIGN IN"><br><br>

			
	
		
					
		 
</body>

</html>
