<html>
<head>
	<meta charset="utf-8">
<title>VENUE</title>
</head>
<body background="{{ url_for('static',filename='x.jpg')}} ">

<font color="white">
<h1> Events Venue's are as follows :-</h1><br>

<ul>
	<li><h2>Hotels</h2>
	It’s an obvious one but hotels have it all. Not only do they tend to have some of the largest event space they also have the catering, AV and bedrooms all in house this.We don’t need to liaise with lots of different suppliers just to create a simple event. Hotels do also come with other plus points such as top notch service; obviously that doesn’t come from every hotel but the majority of 4-5* hotels offer amazing service and there is nothing better than arriving on site to an event where everything is in place just as you asked.<br><br><br>

	<li><h2>Fine Dining Restaurants </h2>
	At most banquet halls and ballroom venues, you are forced to go with their food. And don’t be surprised to find a magnificent venue where the food quality is average. If great food is the top priority for your event or you are after a particular type of cuisine, then a fine dining establishment is your way to go. These restaurants are in the business of making great food and providing exceptional service.<br><br><br>

	<li><h2>Marquees</h2>
	Set up in beautiful natural surroundings; imagine a large tent that has been transformed into an picturesque event location. A marquee also allows you to bring that lovely view inside! Starting with a blank canvas, there are also no restrictions on theming and decor.<br><br><br>

	<li><h2>Outdoors</h2>
	Outdoor event are among everyone's favourite, everyone loves the outdoors on a glorious day. But that does bring me to a big con with an outdoor weather…no one can predict the weather! <br><br><br>

	<li><h2>Stadiums</h2>
	Stadiums are colossal! If you are looking for a venue that hold 1000’s of people then a stadium is one of you best bets. Like a hotel they also tend to have all their own catering and AV as it needs to be specialised to the venue which can make creating such a large event that little bit easier. Stadiums are also great for smaller events with a theme, they always have great spaces which can have the added touch of a stadium tour.<br><br><br>

	<li><h2>Stately Home </h2>
	Stately homes are always decorated to the highest standard, opulence and grandeur radiates around you and there is nothing else to do but smile. They add that special touch to any event being surrounded but such history and individuality. I’d say stately homes are best for incentives / retreats and weddings. Something that require that something special as this option of venue never fits in a tight budget.<br><br><br>

	<li><h2>Art Galleries </h2>
	A lot like museums – but still ever changing so you can use them frequently and not be scared of seeing the same thing. A favourite of mine is the Saatchi Gallery this contemporary space is transformed every couple of weeks with new exhibits changing the atmosphere of the rooms. <br><br><br>
	
	<li><h2>Club</h2>
	In cities the opportunities are endless. There are thousands of pubs and clubs to choose from. Whether you want a speakeasy, Dive or rooftop you will find them plentiful. Perfect for those events set for fun and frolic like summer and Christmas parties. 
</body>
</html>